body {
  background-color: bisque;
}

.flex {
  display: flex;
  flex-flow: wrap;
}

.main_container {
  width: 400px;
}

h1 {
  text-align: center;
}

.todays {
  margin-top: 60px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.clear {
  margin-top: 20px;
  justify-content: center;
}

.add {
  justify-content: space-between;
}

.task {
  justify-content: space-between;
}

#todo_list {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.border_bottom {
  border-bottom: solid rgba(128, 128, 128, 0.644) 1px;
  margin: 10px 0 25px 0;
}

.input {
  width: 360px;
}

.fa-sign-in-alt {
  margin-left: 15px;
}

.fa-sign-in-alt:hover,
.fa-sync:hover,
.fa-trash-alt:hover {
  color: rgb(0, 119, 255);
  cursor: pointer;
  transition: 0.5s;
}
