body {
  background-color: bisque;
}

.flex {
  display: flex;
  flex-flow: wrap;
}

.main_container {
  width: 50%;
  justify-content: center;
  flex-flow: column;
  background-color: white;
  margin: 50px auto 0 auto;
  border: 2px grey solid;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.strike {
  text-decoration: line-through;
}

.todays {
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 0 20px 0 20px;
  justify-content: space-between;
}

.clear {
  padding: 15px 0 15px 0;
  margin-top: -10px;
  justify-content: center;
  background-color: rgb(224, 220, 220);
}

.add {
  padding: 0 20px 0 20px;
}

.adding-form {
  justify-content: space-between;
}

.task {
  justify-content: space-between;
}

#todo_list {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0 20px 0 20px;
}

.border_bottom {
  border-bottom: solid rgba(128, 128, 128, 0.644) 1px;
  margin: 10px 0 10px 0;
}

.input {
  width: 100%;
  height: 25px;
  border-style: none;
  outline: none;
}

.fa-sign-in-alt {
  margin-left: 15px;
}

.fa-sign-in-alt:hover,
.fa-sync:hover,
.fa-trash-alt:hover {
  color: rgb(0, 119, 255);
  cursor: pointer;
  transition: 0.5s;
}
